/* INSTANT CMD K Killer and Alignment Fix */
#search-toggle {
  font-size: 0 !important; 
  color: transparent !important; 
  display: inline-flex !important; 
  align-items: center !important; 
}

#search-toggle i, 
#search-toggle svg {
  font-size: 1.25rem !important; 
  color: var(--global-text-color) !important; 
  margin-top: 2px !important; 
}